:root {
	/* Background Colors */
	--main-bg: hsl(233, 47%, 7%);
	--card-bg: hsl(244, 38%, 16%);
	--accent: hsl(277, 64%, 61%);

	/* Text Colors */
	--text-main: hsl(0, 0%, 100%);
	--text-para: hsla(0, 0%, 100%, 0.75);
	--stat-heads: hsla(0, 0%, 100%, 0.6);

	/* Font Properties */
	--main-font: "Inter", sans-serif;
	--secondary-font: "Lexend Deca", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 15px;
	font-family: var(--main-font);
	font-weight: 400;
	background: var(--main-bg);
	color: var(--text-main);
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	font-family: var(--secondary-font);
	line-height: 1;
}

p {
	line-height: 1.6;
	margin-bottom: 35px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	width: 75%;
	max-width: 1080px;
	min-width: 320px;
	background: var(--card-bg);
	display: flex;
	border-radius: 8px;
	overflow: hidden;
}

.container > div {
	width: 50%;
}

.blank {
	width: 50%;
	background: linear-gradient(rgba(179, 56, 255, 0.6), rgba(179, 56, 255, 0.6)),
		url("./../images/image-header-mobile.jpg") no-repeat top;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.content {
	padding: 70px;
}

.stat-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.stat {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 110px;
	font-family: var(--main-font);
}

.stat-head {
	font-size: 12px;
	font-weight: 400;
	margin: 5px auto;
}

.accent {
	color: var(--accent);
}

@media (max-width: 980px) {
	.container {
		flex-direction: column-reverse;
		text-align: center;
	}

	.container .content {
		padding: 25px 35px 0;
	}

	.container > div {
		width: 100%;
		height: auto;
	}

	.container .blank {
		background: linear-gradient(rgba(179, 56, 255, 0.6), rgba(179, 56, 255, 0.6)),
			url("./../images/image-header-mobile.jpg") no-repeat top;
		background-size: cover;
		height: 230px;
	}

	.attribution {
		bottom: 2%;
	}

	.stat-wrapper {
		flex-direction: column;
	}

	.stat {
		flex-basis: 75px;
	}
}
